body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 150px;
    background-color: #f2f2f2;
}

h1 {
    color: #333;
}

#time {
    font-size: 50px;
    color: #007bff;
    margin-top: 20px;
}